.nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #f7f7f7;
}

.nav__list {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

.nav__list-item {
  position: relative;
}

.nav__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: absolute;
  right: -7px;
  top: -7px;
  width: 18px;
  height: 18px;
  background-color: #de5d42;
  color: white;
  border-radius: 9px;
}

.nav__list-item {
  font-size: 20px;
}
